@charset "UTF";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}
main {
    height: 100vh;
    position: relative;
}
section.telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}
iframe {
    position: relative;
    top: 79px;
    left: 21px;
    width: 269px;
    height: 473px;
}
section.icones-redes-sociais {
    text-align: right;
}
section.icones-redes-sociais > a > img {
    width: 50px;
    margin: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.90);
    box-sizing: border-box;
}
section.icones-redes-sociais img:hover {
    transform: translate(-5px, -5px);
    border: 2px solid white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.70);
    transition: transform 0.7s, border 1s;
}